body {
  font-family: "Open Sans", "Raleway", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.02em;
  color: #555555;
  background-color: #e5e5e5;
}

p,
ul,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
  text-transform: uppercase;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin: 0 auto;
  padding: 0 5px;
  width: 100%;
}
@media screen and (min-width: 320px) {
  .container {
    padding: 0 20px;
  }
}
@media screen and (min-width: 480px) {
  .container {
    padding: 0 31px;
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    padding: 0 39px;
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    padding: 0 15px;
    width: 1200px;
  }
}

.section {
  padding-top: 84px;
  padding-bottom: 84px;
}
@media screen and (min-width: 768px) {
  .section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.no-padding {
  padding: 0 0;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.add-line:before {
  content: "";
  display: block;
  position: absolute;
  left: -80px;
  top: 6px;
  height: 1px;
  width: 60px;
  background-color: currentColor;
}

.logo__link {
  display: inline-flex;
  cursor: pointer;
}

.logo__icon {
  fill: #ffffff;
}
@media screen and (min-width: 768px) {
  .logo__icon {
    fill: #303030;
  }
}

.button {
  display: block;
  padding: 12px 20px;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  background-color: transparent;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.3333333333;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #303030;
  transition: background-color 200ms linear, color 300ms linear;
}
.button:hover, .button:focus {
  color: #ffffff;
  background-color: #ff6c00;
}
.button:active {
  background-color: #ff7d21;
}

.button--on-dark {
  color: #ffffff;
}

.pre-title-master {
  font-size: 11px;
  font-weight: 600;
  line-height: 1.3636363636;
  letter-spacing: 0.1em;
  position: relative;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
}

.pre-title-slave {
  font-size: 11px;
  font-weight: 600;
  line-height: 1.3636363636;
  letter-spacing: 0.1em;
  position: relative;
  text-transform: uppercase;
  color: #303030;
}

.title-h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.1666666667;
  letter-spacing: 0.05em;
  font-family: "raleway";
  color: #ffffff;
}

.title-h2 {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.05em;
}

.title-h2--dark {
  color: #303030;
}

.title-h2--light {
  color: #ffffff;
}

.title-h3 {
  font-size: 18px;
  line-height: 30px;
}

header {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

.header-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .header-wrapper {
    width: 690px;
    padding: 0 20px;
  }
}
@media screen and (min-width: 1200px) {
  .header-wrapper {
    width: 1170px;
    padding: 0 5px;
  }
}

.burger-icon {
  display: inline-flex;
  fill: #ffffff;
  cursor: pointer;
  transition: fill 300ms linear;
}
.burger-icon:hover, .burger-icon:focus {
  fill: #ff6c00;
}
@media screen and (min-width: 768px) {
  .burger-icon {
    display: none;
  }
}

.header {
  display: none;
}
@media screen and (min-width: 768px) {
  .header {
    display: flex;
    align-items: center;
  }
}

.header__navigation {
  margin-right: 35px;
}
@media screen and (min-width: 1200px) {
  .header__navigation {
    margin-right: 254px;
  }
}

.header__navigation-list {
  display: flex;
}
.header__navigation-list li {
  display: flex;
}
.header__navigation-list li:not(:last-child) {
  margin-right: 16px;
}
@media screen and (min-width: 1200px) {
  .header__navigation-list li:not(:last-child) {
    margin-right: 30px;
  }
}
.header__navigation-list a {
  padding: 20px 0;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.3333333333;
  letter-spacing: 0.1em;
  color: #ffffff;
  transition: color 250ms linear;
}
.header__navigation-list a:hover, .header__navigation-list a:focus {
  color: #ff6c00;
}

.header__contacts {
  position: relative;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1200px) {
  .header__contacts {
    position: static;
    flex-direction: row;
  }
}
.header__contacts .header__phone-link {
  position: absolute;
  right: 0;
  top: 60px;
  padding: 10px 0;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.3333333333;
  letter-spacing: 0.1em;
  color: #ffffff;
  transition: color 250ms linear;
}
.header__contacts .header__phone-link:hover, .header__contacts .header__phone-link:focus {
  color: #ff6c00;
}
@media screen and (min-width: 1200px) {
  .header__contacts .header__phone-link {
    position: static;
    align-self: center;
    margin-right: 40px;
  }
}

.header__socials-list {
  position: absolute;
  transform: rotate(-90deg);
  top: 400px;
  left: -45px;
  display: flex;
}
.header__socials-list .header__socials-item {
  display: flex;
}
.header__socials-list .header__socials-item:last-child {
  margin-left: 40px;
}
.header__socials-list .header__socials-link {
  font-size: 11px;
  font-weight: 600;
  line-height: 1.3636363636;
  letter-spacing: 0.2em;
  color: #303030;
  padding: 20px 0;
}
.header__socials-list .header__socials-link:hover, .header__socials-list .header__socials-link:focus {
  color: #ff6c00;
}
.header__socials-list:before {
  content: "";
  display: block;
  position: absolute;
  left: -80px;
  top: 26px;
  height: 2px;
  width: 60px;
  background-color: currentColor;
}

.hero {
  display: flex;
  align-items: center;
  min-height: 580px;
  background-color: rgb(20, 20, 20);
  background-image: url("..//../images/hero-bg-mob-1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: url("..//../images/hero-bg-mob-2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero {
    min-height: 680px;
    width: 768px;
    background-color: #ffffff;
    background-image: url("..//../images/hero-bg-tab-1x.jpg");
    background-size: 75%;
    background-position-x: 154px;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url("..//../images/hero-bg-tab-2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    width: 1200px;
    background-color: #ffffff;
    background-image: url("..//../images/hero-bg-des-1x.jpg");
    background-size: 100%;
    background-position-x: 115px;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url("..//../images/hero-bg-des-2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero__wrap {
    margin-left: 240px;
  }
}

.hero__title-h1 {
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .hero__title-h1 {
    font-size: 72px;
    font-weight: 700;
    line-height: 1.1805555556;
    letter-spacing: 0.05em;
  }
}

.hero__pre-title-master {
  margin-left: 80px;
  margin-bottom: 20px;
}

.hero__intro {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.625;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
@media screen and (min-width: 1200px) {
  .hero__intro {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.6666666667;
    letter-spacing: 0.02em;
  }
}

.hero__switcher-list {
  display: none;
}

.about {
  display: flex;
  background-color: #ffffff;
}

.about__img-wrap {
  display: none;
  flex-direction: column;
  margin-right: 30px;
}
@media screen and (min-width: 768px) {
  .about__img-wrap {
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .about__img-wrap {
    flex-direction: row;
  }
}
.about__img-wrap picture {
  width: 330px;
}
@media screen and (min-width: 1200px) {
  .about__img-wrap picture {
    width: 270px;
  }
}
.about__img-wrap picture + picture {
  margin-top: 30px;
}
@media screen and (min-width: 1200px) {
  .about__img-wrap picture + picture {
    margin-top: 0;
    margin-left: 30px;
  }
}

@media screen and (min-width: 768px) {
  .about__text-wrap {
    display: flex;
    flex-direction: column;
  }
}

.about__pre-title-slave {
  margin-left: 80px;
  margin-bottom: 20px;
}

.about__title-h2--dark {
  font-size: 28px;
  line-height: 33px;
  margin-bottom: 20px;
}

.about__invite {
  font-size: 16px;
  margin-bottom: 20px;
}

.about__our-story {
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .about__button {
    margin-top: auto;
    align-self: flex-start;
  }
}

.prices {
  background-color: #111319;
  background-image: url("..//../images/prices-bg-mob-1x.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .prices {
    background-image: url("..//../images/prices-bg-mob-2x.png");
  }
}
@media screen and (min-width: 768px) {
  .prices {
    background-image: url("..//../images/prices-bg-tab-1x.png");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .prices {
    background-image: url("..//../images/prices-bg-tab-2x.png");
  }
}
@media screen and (min-width: 1200px) {
  .prices {
    max-width: 1600px;
    background-image: url("..//../images/prices-bg-des-1x.png");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .prices {
    background-image: url("..//../images/prices-bg-des-2x.png");
  }
}

.prices__pre-title-master {
  margin-bottom: 20px;
  margin-left: 80px;
}

.prices__title-h2--light {
  margin-bottom: 44px;
  font-size: 40px;
  line-height: 47px;
}
@media screen and (min-width: 768px) {
  .prices__title-h2--light {
    font-size: 42px;
    line-height: 49px;
  }
}

.prices__list-common {
  padding: 30px 40px;
}
.prices__list-common li {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.prices__list-common li:not(:last-child) {
  margin-bottom: 20px;
}
.prices__list-common p {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4285714286;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
@media screen and (min-width: 768px) {
  .prices__list-common p {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.6666666667;
    letter-spacing: 0.02em;
  }
}
.prices__list-common div {
  flex-grow: 1;
  margin: 0 4px;
  min-width: 5px;
  height: 100%;
  border-bottom: 1px solid rgba(157, 164, 189, 0.12);
}

.prices__list-all-in-one {
  margin-bottom: 44px;
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}
@media screen and (min-width: 1200px) {
  .prices__list-all-in-one {
    display: none;
  }
}

.prices__list-in-two-parts {
  display: none;
  justify-content: center;
  gap: 30px;
  margin-bottom: 44px;
}
@media screen and (min-width: 1200px) {
  .prices__list-in-two-parts {
    display: flex;
  }
}
.prices__list-in-two-parts .prices__first-half {
  width: 570px;
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}
.prices__list-in-two-parts .prices__second-half {
  width: 570px;
  background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.prices__button {
  margin: 0 auto;
}

.benefits {
  background-color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .benefits {
    display: flex;
  }
}

.replaceable-block {
  max-width: 530px;
  margin-bottom: 44px;
}
@media screen and (min-width: 1200px) {
  .replaceable-block {
    order: 2;
    margin-bottom: 0;
    margin-left: 130px;
  }
}

.benefits__pre-title-slave {
  margin-left: 80px;
  margin-bottom: 20px;
}

.benefits__title-h2--dark {
  max-width: 475px;
  margin-bottom: 20px;
}

.progress-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-between;
}
@media screen and (min-width: 450px) {
  .progress-list {
    height: 331px;
  }
}
@media screen and (min-width: 768px) {
  .progress-list {
    width: 450px;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .progress-list {
    width: 370px;
    margin-left: 85px;
  }
}
.progress-list li {
  display: block;
  width: 194px;
  height: 133px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  color: #303030;
  background-color: #f7f7f7;
}
.progress-list li:not(:last-child) {
  margin-bottom: 30px;
}
@media screen and (min-width: 450px) {
  .progress-list li:nth-child(3) {
    margin-top: auto;
  }
}
@media screen and (min-width: 768px) {
  .progress-list li {
    width: 210px;
  }
}
@media screen and (min-width: 1200px) {
  .progress-list li {
    width: 170px;
  }
}
.progress-list li > p {
  font-size: 42px;
  font-weight: 700;
  line-height: 1.3571428571;
  letter-spacing: 0.05em;
  position: relative;
}
.progress-list li > p:first-of-type::after {
  position: absolute;
  top: 0;
  content: "+";
  height: 22px;
  width: 13px;
  font-size: 18px;
  color: #ff6c00;
}
.progress-list li > p + p {
  margin-top: 6px;
  font-size: 11px;
  font-weight: 600;
  line-height: 1.3636363636;
  letter-spacing: 0.02em;
}

.masters {
  background-color: #f7f7f7;
}

.masters__pre-title-slave {
  margin-left: 80px;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .masters__pre-title-slave {
    margin-left: 200px;
  }
}
@media screen and (min-width: 1200px) {
  .masters__pre-title-slave {
    margin-left: 80px;
  }
}

.masters__title-h2--dark {
  margin-bottom: 44px;
}
@media screen and (min-width: 768px) {
  .masters__title-h2--dark {
    margin-left: 120px;
  }
}
@media screen and (min-width: 1200px) {
  .masters__title-h2--dark {
    margin-left: 0;
  }
}

@media screen and (min-width: 768px) {
  .masters__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .masters__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.masters__item {
  max-width: 418px;
}
.masters__item:not(:last-child) {
  margin-bottom: 64px;
}
@media screen and (min-width: 1200px) {
  .masters__item:not(:last-child) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .masters__item {
    max-width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .masters__item {
    max-width: 370px;
    margin-bottom: 0;
  }
}

.master__thumb {
  margin-bottom: 30px;
}

.master__info {
  text-align: center;
}

.master__name {
  margin-bottom: 8px;
  font-size: 18px;
  line-height: 25px;
}

.master__position {
  margin-bottom: 30px;
  line-height: 19px;
  color: #ff6c00;
}

.socials-list {
  display: flex;
  justify-content: center;
}

.socials-list__item:not(:last-child) {
  margin-right: 10px;
}

.socials-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
  overflow: hidden;
}

.socials-list__link--gray {
  fill: #303030;
  transition: fill 300ms linear;
}
.socials-list__link--gray:hover, .socials-list__link--gray:focus {
  fill: #ff6c00;
}

.history-note {
  background-color: #ffffff;
}

.history-note__pre-title-slave {
  margin-bottom: 70px;
  margin-left: 80px;
}
@media screen and (min-width: 768px) {
  .history-note__pre-title-slave {
    margin-bottom: 44px;
  }
}

@media screen and (min-width: 768px) {
  .history-note__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.history-note__item:not(:last-child) {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .history-note__item:nth-child(3) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .history-note__item {
    width: 270px;
  }
  .history-note__item:nth-child(-n+2) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .history-note__thumb {
    width: 330px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
  }
}

.form-thumb {
  background-color: #191c26;
}
@media screen and (min-width: 1200px) {
  .form-thumb {
    margin-right: 0;
    max-width: 600px;
  }
}
.form-thumb input {
  display: block;
  background-color: transparent;
  border: none;
  width: 100%;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  padding: 4px 8px;
  color: #ffffff;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.1em;
  outline: none;
  transition: border-bottom 300ms linear;
}
.form-thumb input::-moz-placeholder {
  color: transparent;
}
.form-thumb input:-ms-input-placeholder {
  color: transparent;
}
.form-thumb input::placeholder {
  color: transparent;
}
.form-thumb input:hover, .form-thumb input:focus {
  border-bottom: 1px solid #ffffff;
}
.form-thumb input:hover + label, .form-thumb input:focus + label {
  color: #ffffff;
}
.form-thumb input:not(:-moz-placeholder-shown) + label {
  transform: translateY(-100%);
}
.form-thumb input:not(:-ms-input-placeholder) + label {
  transform: translateY(-100%);
}
.form-thumb input:hover + label, .form-thumb input:focus + label, .form-thumb input:not(:placeholder-shown) + label {
  transform: translateY(-100%);
}
.form-thumb label {
  position: absolute;
  top: 0;
  width: 100%;
  text-transform: uppercase;
  transition: transform 300ms linear;
}

.form-thumb__title-h2--light {
  text-align: center;
  margin-bottom: 44px;
}
@media screen and (min-width: 768px) {
  .form-thumb__title-h2--light {
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .form-thumb__title-h2--light {
    max-width: 570px;
  }
}

.contact-form p {
  position: relative;
  margin-bottom: 44px;
}

@media screen and (min-width: 768px) {
  .form-fields {
    display: flex;
    justify-content: space-between;
  }
  .form-fields p {
    width: 330px;
  }
}
@media screen and (min-width: 1200px) {
  .form-fields p {
    width: 270px;
  }
}

.form__button {
  width: 160px;
  margin: 0 auto;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .form__button {
    margin-left: 0;
  }
}

.contacts-thumb {
  background-color: rgb(20, 20, 20);
  background-image: linear-gradient(rgba(23, 26, 36, 0.6), rgba(23, 26, 36, 0.7)), url("..//../images/contacts-bg-mob-1x.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .contacts-thumb {
    background-image: linear-gradient(rgba(23, 26, 36, 0.6), rgba(23, 26, 36, 0.7)), url("..//../images/contacts-bg-mob-2x.png");
  }
}
@media screen and (min-width: 1200px) {
  .contacts-thumb {
    width: 600px;
    margin-left: 0;
  }
}

.contacts-thumb__title-h2--light {
  text-align: center;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .contacts-thumb__title-h2--light {
    text-align: left;
  }
}

@media screen and (max-width: 767px) {
  .contacts__address {
    margin-bottom: 44px;
  }
}

.contacts__address-list a {
  display: flex;
  align-items: center;
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
  color: #9da4bd;
}

.contacts__address-item svg {
  display: inline;
  margin-right: 20px;
}

.contacts__address-item:not(:last-child) {
  margin-bottom: 20px;
}

.contacts__address-item:first-child {
  font-weight: 700;
  position: relative;
}

.contacts__address-item:last-child {
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .address-worktime-container {
    display: flex;
  }
}

.divider {
  display: none;
}
@media screen and (min-width: 768px) {
  .divider {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .working-time-wrap {
    margin-left: 140px;
    padding-top: -10px;
  }
}

.working-hours__pre-title-master {
  margin-left: 80px;
  margin-bottom: 20px;
  color: #ffffff;
}

.working-hours__text {
  font-size: 18px;
  line-height: 30px;
  color: #9da4bd;
}

.footer {
  display: flex;
  justify-content: space-between;
  height: 140px;
  background-color: #f7f7f7;
}
@media screen and (min-width: 768px) {
  .footer {
    height: 127px;
    align-items: center;
  }
}

.copyright {
  margin-top: 79px;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  color: #9da4bd;
}
@media screen and (min-width: 768px) {
  .copyright {
    margin-top: 0;
  }
}

.footer__socials {
  display: flex;
  margin-top: 44px;
  margin-bottom: 79px;
}
@media screen and (min-width: 768px) {
  .footer__socials {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.footer__socials-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  color: #303030;
}

.footer__socials-item:first-child {
  position: relative;
  margin-right: 40px;
}
.footer__socials-item:first-child:before {
  content: "";
  display: block;
  position: absolute;
  left: -100px;
  top: 13px;
  height: 1px;
  width: 60px;
  background-color: currentColor;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(23, 26, 36, 0.7);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 500px;
  padding: 42px 10px;
  background-color: #f7f7f7;
  border-radius: 3px;
}

.modal__button {
  display: block;
  position: absolute;
  right: 8px;
  top: 8px;
  padding: 0;
  border: none;
  background-color: transparent;
  border-radius: 50%;
  overflow: hidden;
}
.modal__button:hover .close-icon, .modal__button:focus .close-icon {
  fill: #ff6c00;
}

.close-icon {
  display: block;
  fill: #303030;
  background-color: transparent;
  transition: fill 200ms linear;
}

.modal__title-h2--dark {
  text-align: center;
}

.js-menu-container.is-open {
  transform: translateX(0);
}
.js-menu-container.is-open .js-menu-container__backdrop {
  opacity: 1;
  transition: opacity 300ms linear 300ms;
}

.js-menu-container {
  position: fixed;
  top: 0;
  left: 20vw;
  width: 80vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 120px 40px;
  background-color: #f7f7f7;
  z-index: 999;
  transform: translateX(100vw);
  transition: transform 250ms ease-in-out;
}
.js-menu-container .modal__button {
  top: 30px;
  right: 36px;
}

.js-menu-container__navigation {
  margin-bottom: 64px;
}
.js-menu-container__navigation li:not(:last-child) {
  margin-bottom: 24px;
}
.js-menu-container__navigation a {
  display: block;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.3888888889;
  letter-spacing: 0.1em;
  color: #303030;
}
.js-menu-container__navigation a:hover, .js-menu-container__navigation a:focus {
  color: #ff6c00;
}

.js-menu-container__contacts {
  margin-bottom: auto;
}
.js-menu-container__contacts a {
  display: block;
  margin-bottom: 24px;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.3888888889;
  letter-spacing: 0.1em;
  color: #303030;
}
.js-menu-container__contacts a:hover, .js-menu-container__contacts a:focus {
  color: #ff6c00;
}

.js-menu-container__button {
  padding: 12px 37px;
}

.js-menu-container__socials-list {
  margin-left: 100px;
}
.js-menu-container__socials-list li:first-child {
  margin-bottom: 24px;
}
.js-menu-container__socials-list a {
  display: block;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.3571428571;
  letter-spacing: 0.2em;
  color: #303030;
}
.js-menu-container__socials-list a:hover, .js-menu-container__socials-list a:focus {
  color: #ff6c00;
}

.js-menu-container__socials-item:first-child {
  position: relative;
  margin-right: 40px;
}
.js-menu-container__socials-item:first-child:before {
  content: "";
  display: block;
  position: absolute;
  left: -100px;
  top: 8px;
  height: 1px;
  width: 60px;
  background-color: currentColor;
}

.js-menu-container__backdrop {
  position: fixed;
  transform: translateX(-100%);
  top: 0;
  left: 0;
  width: 20vw;
  height: 100%;
  background-color: rgba(23, 26, 36, 0.7);
  opacity: 0;
}/*# sourceMappingURL=main.css.map */