// подлежит упаковке в плейсхолдер
.title-h2 {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.05em;
}

.title-h2--dark {
  color: #303030;
}

.title-h2--light {
  color: #ffffff;
}
